<html lang='ko'>
    <head>
        <meta charset='UTF-8'/>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'/>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
        <title>프로젝트 상세 정보</title>
        <link
            href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css'
            rel='stylesheet'
            integrity='sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor'
            crossorigin='anonymous'/>
        <link rel='stylesheet' href='/css/staff.css'/>
    </head>
    <body>
        {{!-- 헤더 --}}
        {{> header }}

        <div class="content-container">
            <div>
                <a href="/project/list" class="btn btn-primary">이전</a>
            </div>
            <div class='header'>프로젝트 상세 조회</div>
            <div class='wrap'>
                <div class='content'>
                    <table class='table'>
                        <tbody>
                            <tr>
                                <th>프로젝트 이름</th>
                                <td>{{project.projectName}}</td>
                            </tr>
                            <tr>
                                <th>시작 날짜</th>
                                <td>{{project.startDate}}</td>
                            </tr>
                            <tr>
                                <th>종료 날짜</th>
                                <td>{{project.endDate}}</td>
                            </tr>
                            <tr>
                                <th>예산</th>
                                <td>{{project.budget}}</td>
                            </tr>
                            <tr>
                                <th>클라이언트 이름</th>
                                <td>{{project.Client.clientName}}</td>
                            </tr>
                            <tr>
                                <th>회사명</th>
                                <td>{{project.Client.companyName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <table class="table table-center">
                    <caption class='caption'>
                        <h5>참여 인원 정보</h5>
                    </caption>
                    <tbody>
                        <tr>
                            <th>참가자명</th>
                            <th>부서</th>
                            <th>프로젝트 투입일</th>
                            <th>프로젝트 투입 종료일</th>
                        </tr>
                        <div>
                            {{#each participations}}
                                <tr>
                                    <td>{{this.name}}</td>
                                    <td>{{this.depName}}</td>
                                    <td>{{this.startDate}}</td>
                                    <td>{{this.endDate}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script
            src='https://code.jquery.com/jquery-3.6.0.min.js'
            integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4='
            crossorigin='anonymous'></script>
        <script src='/javascript/header.js'></script>
        <script src='/javascript/staff.js'></script>
    </body>
</html>